<p>
  <b>Income type:</b>
  <%=h @income.income_type %>
</p>

<p>
  <b>Monthly total amount:</b>
  <%=h @income.monthly_total_amount %>
</p>


<%= link_to 'Edit', edit_income_path(@income) %> |
<%= link_to 'Back', incomes_path %>