<h1>Welcome to the Hurricane</h1>
It's now <%= Time.now %>.
How may we serve you?
<br />
(Seriously, would you like to see a list of your loan applications and maybe be able to create a new loan application?